<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    

    <div class="form">
        <form action="/create" method="post">
            <input type="text" name="username" placeholder="Enter username">
            <input type="text" name="email" placeholder="Enter email">
            <input type="text" name="password" placeholder="Enter password">
            <input type="number" name="age" placeholder="Enter age">
            <input type="submit" value="Create user">
        </form>
    </div>

    <script src="/javascript/index.js"></script>
</body>
</html>