*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(66, 62, 62);
}

.task_details{
    position: relative;
}
.delete{
    position: absolute;
    top: 2px;
    right: 14px;
}