<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini project</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <div id="container">
        <h3 class="create">User login</h3>
        <form action="/login" method="post">
            <input type="text" placeholder="Enter email" name="email">
            <input type="password" placeholder="Enter password" name="password">
            <input type="submit" value="login">
        </form>

    </div>

    <script src="/js/index.js"></script>
    
</body>
</html>